[alias]
       last = log -1 --stat
       cp = cherry-pick
       co = checkout
       sw = switch
       cl = clone
       ct = commit
       st = status -sb
       s = status
	br = branch
       unstage = reset HEAD --
       dc = diff --cached
       d = diff 
	ds = diff --staged
       tree = log --decorate --pretty=format:"%C(yellow)%h\\ %C(green)%ad%C(cyan)%d\\ %Creset%s%C(yellow)\\ [%cn]" --date=short --abbrev-commit --graph --all
       ls = log --decorate --pretty=format:"%C(yellow)%h\\ %C(green)%ad%C(cyan)%d\\ %Creset%s%Cblue\\ [%cn]" --date=short
       ll = log --decorate --pretty=format:"%C(yellow)%h\\ %C(green)%ad%C(cyan)%d\\ %Creset%s%Cblue\\ [%cn]" --date=short --numstat
       lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
       ri = rebase --interactive
	pr = pull --rebase
	fe = fetch --prune --tags
	fix = commit --amend -C HEAD
	alias = config --global --get-regexp alias
	wip = !git add . && git commit -m "WIP"
	unwip = "!f() { if [ \"$(git log -1 --pretty=%B | head -n1)\" = \"WIP\" ]; then git reset HEAD~1; echo \"Unwipped\"; else echo \"Last commit wasn't a WIP\"; fi;}; f" 
        ff = merge --ff-only
[user]
	name = Mathieu Mure
	email = mathieu.mure@gmail.com
[core]
	editor = "vim"
	excludesfile = /Users/mmure/.gitignore
[credential]
        helper = cache --timeout=13600
[credential "https://github.com"]
        username = mathieumure
[credential "https://github.m6web.fr"]
        username = m_mure
[rerere]
	enabled = true
[merge]
    keepBackup = false;
    tool = p4merge
[mergetool]
    prompt = false
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[diff]
    tool = p4merge
[difftool]
    prompt = false
[difftool "p4merge"]
    cmd = p4merge "$LOCAL" "$REMOTE"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[color "status"]
    untracked = yellow
    added = green
    changed = yellow
[color "diff"]
    old = magenta bold
[pager]
	branch = false
